.login-content {
	width: 75%;
	margin: 0 auto;
	padding-bottom: 3%;
}

.login {
	width: 60%;
	background-color: rgb(150, 240, 255);	
	text-align: center;
	border: 3px solid rgb(30, 30, 45);	
	margin: 0 auto;
	margin-top: 4%;
	padding-top: 3%;
}
.login h1 {
	font-size: 26px;
}
.login form {
	padding: 5%;
} 
form input {
	padding: 0.6%;
	border: 2px solid rgb(30, 30, 45);
	margin-bottom: 2%;
}
#login-button {
	width: 20%;
	padding: 1% 0;
	margin-top: 2%;
	background-color: rgb(100, 150, 255);
	border: 2px solid rgb(30, 30, 45);	
}
.login-message {
	margin-bottom: 3%;
}