{% extends "base.html" %}
{% block title %}Change Password{% endblock %}
{% block specific_css %}
<link rel="stylesheet" href="/static/css/change_employee_password.css">
{% endblock %}
{% block content %}
		<div class="employee-content">
			<div class="employee-navs">
				<nav>
					<ul class="employee-nav">
						{% for link in employee_links %}
							<li><a href="{{ link[0] }}">{{ link[1] }}</a></li>
						{% endfor %}
					</ul>
				</nav>
			</div>
			<div class="employee_message">
				<h1>Change Password</h1>
				<form action="{{ url_for('change_employee_password') }}" method="POST" class="new-password-form">
					<div class="text-input"><label for="old_password">Old Password</label><input type="password" name="old_password" id="old_password"></div>
					<div class="text-input"><label for="new_password">New Password</label><input type="password" name="new_password" id="new_password"></div>
					<div class="outer-password-bar">
						<div class="inner-password-bar"></div>
					</div>
					<p class="strength"></p>
					<div class="password-policy"></div>
					<div class="text-input"><label for="retyped_new_password">Retype New Password</label><input type="password" name="retyped_new_password" id="retyped_new_password"></div>
					<div class="matching-passwords"></div>
					<input id="submit-password-button" type="submit" value="Submit New Password">
					<p>{{ message }}</p>
				</form>
			</div>
		</div>
		<script>
		</script>
		<script src="/static/js/change_employee_password.js"></script>
{% endblock %}