{% extends "base.html" %}
{% block title %}Employee Dashboard{% endblock %}
{% block specific_css %}
<link rel="stylesheet" href="/static/css/employee_dashboard.css">
{% endblock %}
{% block content %}
		<div class="employee-content">
			<div class="employee-navs">
				<nav>
					<ul class="employee-nav">
						{% for link in employee_links %}
							<li><a href="{{ link[0] }}">{{ link[1] }}</a></li>
						{% endfor %}
					</ul>
				</nav>
			</div>
			<div class="employee_message">
				<p> 
					Welcome, {{ name }}
					<a href="{{ url_for('employee_logout') }}">Logout</a>
				</p>
			</div>
		</div>
		<script>
		</script>
{% endblock %}