{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block specific_css %}
<link rel="stylesheet" href="/static/css/home.css">
{% endblock %}
{% block content %}
		<div class="content">
			<p class="origin-story">
				<img src="/static/cows.png" alt="cows grazing" class="left-images">
				Our family at Malon Dairy has had quite the journey, but it all started with our humble roots in California. 
				The co-founder of Malon Dairy, John Samuel, inherited a farm, but he didn't know the first thing about farming. He was a city boy!
				He quickly found help from Jerry Strong, already an accomplished farmer, and it turns out he would become the other co-founder.
				John and Jerry put their blood, sweat, and tears into getting this farm up and running, but of course this wasn't without a fair share of mistakes.
				They recieved a healthy mixture of both praise and criticism. Sometimes it was blunt and honest, but they grew, and the farm grew as well.
				Finally, the criticism slowly drifted away and became more and more praise for their efforts and their quality dairy products.
			</p>
			<p class="expansion-story">
				<img src="/static/store.png" alt="image of Malon Dairy Store" class="right-images">
				It started with one farm, but the demand for their products quickly outgrew their capabilities. One day John said to Jerry, "Why don't we just open a store?" 
				At first they both looked at each other and laughed, but as the laughter faded away and the gears got turning, they seriously considered the benefit of opening up a store.
				After 2 years of planning out the details, John and Jerry opened up their very first Malon Dairy store location in California.
				It was a success! After running the store for another year, they realized they needed to really considering expanding.
				They bought a few more farms to be able to crank out enough product to meet the growing demand, and they opened up a couple more stores to fit the plan.
			</p>
			<p class="family-statement">
				<img src="/static/family.png" alt="image of Malon Dairy store employee welcoming customers" class="left-images">
				Here at Malon Dairy, we are always welcoming new folks to the family.
				We recently opened a chain of stores and farms on the East coast, we also now have distribution centers.
				Malon Dairy is always looking to hire more employees as we continue to expand.
				Whether you're aspiring to become one of our proud employees or eagerly looking to shop for our dairy products, we would absolutely love for you to be part of our growing family!
			</p>
		</div>
{% endblock %}